body {
	font-family: 'Lato';
}

.Header {
	position: fixed;
	top: 0;
	width: 100%;
	background: rgba(255, 255, 255, .9);
	border-bottom: 1px solid #e5e5e5;
	padding: 20px 0;
  z-index: 1;
  left: 0;
  right: 0;
}

.Container {
	width: 940px;
	margin: 0 auto;
}
.Container--fixed {
	margin-top: 120px;
}

.Footer {
	border-top: 1px solid #e5e5e5;
	padding: 20px 0;
	margin-top: 20px;
}

.block {
	border-bottom: 1px dotted #e5e5e5;
	padding: 60px 0;
}

.block--noborder {
  border-bottom: 0;
  margin-bottom: 120px;
}
/*
.cesium-viewer-toolbar {
  background-color: #fff;
  padding: 8px;
  border-radius: 4px;
  top: 20px;
  right: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}


.cesium-viewer-toolbar svg {
	display: none;
}

.cesium-timeline-icon16 {
	background: white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  border: 1px solid rgba(0, 0, 0, .2);
  box-shadow: 0 0 2px rgba(0, 0, 0, .2);
  bottom: -8px !important;
}

.cesium-timeline-ticTiny,
.cesium-timeline-ticSub,
.cesium-timeline-ticMain,
.cesium-timeline-needle,
.cesium-timeline-trackContainer
{
	display: none;
}

.cesium-timeline-main {
	border: 0;
}
.cesium-timeline-bar {
  height: 4px;
  overflow: visible;
  position: relative;
  border: 0;
  background-color: #0090D7;
  background-image: none;
  border-radius: 50px;
}

.cesium-viewer-bottom {
	top: 0;
}

.cesium-viewer-timelineContainer, .cesium-timeline-main, .cesium-timeline-bar {
	overflow: visible
}

.cesium-timeline-ticLabel {
	 top: -24px;
  font-family: 'Lato';
}

*/

p.small {
  font-size: 11px;
  color: #666;
}
.itm-media {
  float:left;
}
.itm-body {
  display: block;
  overflow: hidden;
}

.toolbar-info {
  padding: 24px;
  margin: -24px -24px 24px -24px;
}
.toolbar-title {
  font-size: 26px;
}
#toolbar {
  padding: 24px;
  position: fixed;
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, .2);
  top: 0;
  left: 0;
  bottom: 0;
  width: 380px;
}
#toolbar input {
    vertical-align: middle;
    padding-top: 2px;
    padding-bottom: 2px;
}
#toolbar table tr {
    transform: translateY(0);
    transition: transform 0.4s ease-out;
}
#toolbar table tr.up {
    transform: translateY(33px);
    transition: none;
}
#toolbar table tr.down {
    transform: translateY(-33px);
    transition: none;
}


#toolbar .select-styled { display: none; }
#toolbar .select-options { display: none; }



#toolbar .toolbarOptions li {
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #e5e5e5;
}
#toolbar .toolbarOptions li:last-child {
  margin-top: 22px;
  border-bottom: 0;
}

.toolbarOptions-actions {
  right: 0;
  top: 0;
}

.toolbarOptions-actions .cesium-button {
  margin: 0;
  padding: 6px 8px;
  margin: 0;
  padding: 6px 8px;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid #e5e5e5;
  display: inline-block;
  text-indent: -9000px;
  width: 30px;
  height: 30px;
  position: relative;
}

  .toolbarOptions-actions .cesium-button:before {
    content:"";
    width: 5px;
    height: 2px;
    background: #666;
    position: absolute;
    top: 13px;
    right: 9px;
    border-radius: 4px;
    transform: rotate(45deg);

  }
  .toolbarOptions-actions .cesium-button:after {
    content:"";
    width: 5px;
    height: 2px;
    background: #666;
    position: absolute;
    top: 13px;
    right: 12px;
    border-radius: 4px;
    transform: rotate(-45deg);
  }


  .toolbarOptions-actions .cesium-button.cesium-button--down:before {
    content:"";
    width: 5px;
    height: 2px;
    background: #666;
    position: absolute;
    top: 13px;
    right: 9px;
    border-radius: 4px;
    transform: rotate(-45deg);
  }
  .toolbarOptions-actions .cesium-button.cesium-button--down:after {
    content:"";
    width: 5px;
    height: 2px;
    background: #666;
    position: absolute;
    top: 13px;
    right: 12px;
    border-radius: 4px;
    transform: rotate(45deg);

  }


#toolbar .toolbarOptions li:last-child .select-styled { display: block; }

#toolbar .toolbarOptions li:last-child .toolbarOptions-actions {
  display: none;
}


#toolbar .toolbarOptions li:nth-child(4) .cesium-button--down {
  display: none;
}


#toolbar .toolbarOptions-text { width: 200px; }

#toolbar .toolbarOptions .select-styled {
  top: -8px;
}



input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  background: #fff;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  background: #e5e5e5;
  border-radius: 25px;
}
input[type=range]::-webkit-slider-thumb {
  background: #fff;
  border: 1px solid rgba(0,0,0,0.20);
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.30);
  height: 10px;
  width: 10px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #0090D7;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  background: #e5e5e5;
  border-radius: 25px;
}
input[type=range]::-moz-range-thumb {
  background: #FFFFFF;
  border: 1px solid rgba(0,0,0,0.20);
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.30);
  height: 10px;
  width: 10px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}

.cesium-viewer-infoBoxContainer {
  font-family: 'lato'
}
.cesium-infoBox {
  background: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, .2);
  border: 0;
  border-radius: 4px;
  max-width: 300px;
}
.cesium-infoBox-title {
  background: #333;
  padding: 50px 40px 30px 40px;
  height: auto;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin-bottom: 20px;
  color: #fff;
}

.cesium-infoBox-body {
  padding: 0;
  margin: 0 20px 20px 20px;
}

.cesium-infoBox-defaultTable {
  color: #333;
}
.cesium-infoBox-defaultTable tr {
  border-bottom: 1px solid #eee;
}
.cesium-infoBox-defaultTable tr:last-child {
  border-bottom: 0;
}
.cesium-infoBox-defaultTable tr:nth-child(odd) {
  background: #fff;
}
.cesium-infoBox-defaultTable tr:nth-child(even) {
  background: #fff;
}
.cesium-infoBox-defaultTable th {
  font-weight: normal;
  padding: 0;
  vertical-align: middle;
  text-align: left;
  font-weight: bold;
}
.cesium-infoBox-defaultTable td {
  color: #666;
  padding: 11px;
}

button.cesium-infoBox-camera {
  display: block;
  position: absolute;
  top: 22px;
  left: 50%;
  width: 22px;
  height: 22px;
  background: transparent;
  border-color: transparent;
  border-radius: 3px;
  padding: 0;
  margin: 0 0 0 -11px;
}

.cesium-viewer-toolbar {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, .2);
  top: 20px;
  right: 20px;
  padding: 4px 8px;
}
.cesium-viewer-toolbar svg {
  display: none;
}
.cesium-viewer-geocoderContainer {
  background: none;
  margin: 0 4px 0 0 ;
}

.cesium-home-button {
  background-color: transparent;
  border-radius: 0;
  background-image: url(../images/home.png);
  background-repeat: no-repeat;
  background-position: center center;
  border: 0;
  margin: 0 4px 0 0 ;
}

.cesium-home-button:hover {
  background-image: url(../images/home.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  box-shadow: 0 0 0 ;
}

.cesium-geocoder-searchButton {
  background-color: transparent;
  border-radius: 0;
  background-image: url(../images/Search.png);
  background-repeat: no-repeat;
  background-position: center center;
  border: 0;
  height: 32px;
  top: 0;

}

.cesium-geocoder-searchButton:hover {
  background-image: url(../images/Search.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  box-shadow: 0 0 0 ;
}

.cesium-navigation-help-button {
  background-image: url(../images/info.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  box-shadow: 0 0 0 ;
  border: 0;
}

.cesium-navigation-help-button:hover {
  background-image: url(../images/info.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  box-shadow: 0 0 0 ;
  border: 0;
}

.cesium-viewer-geocoderContainer .cesium-geocoder-input {
  border: 0px;
  background-color: transparent;
  color: #666;
  font-family: 'Lato';
  margin-left: 10px;
  margin-right: 22px;
  padding: 0;
  border: 0 !important;
  border-bottom: 1px solid #e5e5e5;
}

.cesium-viewer-geocoderContainer:hover .cesium-geocoder-input {
  margin-right: 48px;
}


.cesium-viewer-geocoderContainer .cesium-geocoder-input:focus {
  background: transparent;
  color: #333;

}
span.cesium-sceneModePicker-wrapper {
  margin: 0;
}

.cesium-sceneModePicker-wrapper .cesium-sceneModePicker-button3D, .cesium-sceneModePicker-wrapper .cesium-sceneModePicker-buttonColumbusView, .cesium-sceneModePicker-wrapper .cesium-sceneModePicker-button2D {
  margin: 0;
}

.cesium-button.cesium-toolbar-button.cesium-sceneModePicker-button3D, 
.cesium-button.cesium-toolbar-button.cesium-sceneModePicker-button2D,
.cesium-button.cesium-toolbar-button.cesium-sceneModePicker-buttonColumbusView  {
  background-color: transparent;
  border: 0;
}



.cesium-button.cesium-toolbar-button.cesium-sceneModePicker-button3D {
  background-image: url(../images/map.png);
  background-repeat: no-repeat;
  background-position: center center;
} 
.cesium-button.cesium-toolbar-button.cesium-sceneModePicker-button2D {
  background-image: url(../images/2D.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.cesium-button.cesium-toolbar-button.cesium-sceneModePicker-buttonColumbusView  {
  background-image: url(../images/columbus.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.cesium-button.cesium-toolbar-button.cesium-sceneModePicker-dropDown-icon.cesium-sceneModePicker-visible {
  background-color: #fff;
  border: 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, .2);
}

.cesium-button.cesium-toolbar-button.cesium-sceneModePicker-dropDown-icon.cesium-sceneModePicker-visible[title="2D"] {
  background-image: url(../images/2D.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
}

.cesium-button.cesium-toolbar-button.cesium-sceneModePicker-dropDown-icon.cesium-sceneModePicker-visible[title="3D"] {
  background-image: url(../images/map.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.cesium-button.cesium-toolbar-button.cesium-sceneModePicker-dropDown-icon.cesium-sceneModePicker-visible[title="Columbus View"] {
  background-image: url(../images/columbus.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.cesium-viewer-fullscreenContainer {
  width: 32px;
  height: 32px;
  right: 20px;
  bottom: 20px;
  background-color: #fff;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, .2);
}
.cesium-viewer-fullscreenContainer svg {
  display: none;
}
.cesium-button.cesium-fullscreenButton {
  background-color: transparent;
  background-image: url(../images/full-screen.png);
  background-repeat: no-repeat;
  background-position: center center;
  border: 0; 
}



select {
  border: 1px solid #E5E5E5;
  background-color: #fff;
  padding: 12px 10px;
  font-size: 14px;
  font-family: 'Lato';
  display: block;
  width: 100%;
  margin-bottom: 9px;
}
  .select-container {
    position: relative;
  }
  .select-container:before {
    content:"";
    width: 5px;
    height: 2px;
    background: #666;
    position: absolute;
    top: 22px;
    right: 10px;
    border-radius: 4px;
    transform: rotate(-45deg);
  }
  .select-container:after {
    content:"";
    width: 5px;
    height: 2px;
    background: #666;
    position: absolute;
    top: 22px;
    right: 13px;
    border-radius: 4px;
    transform: rotate(45deg);
  }

#loadingOverlay {
    position: absolute;
    top: 0;
    left: 300px;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .6);
    display: none;
    z-index: 4;
}

.spinner {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  vertical-align: middle;
}
.spinner-quart {
  border-radius: 50px;
  border: 2px solid rgb(255, 255, 255);
}
.spinner-quart:after {
  content: '';
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  border-radius: 50px;
  border: 2px solid transparent;
  border-top-color: #0090d7;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0%{ -webkit-transform: rotate(0deg); tranform: rotate(0deg);}
  100%{ -webkit-transform: rotate(360deg); tranform: rotate(360deg);}
}

@keyframes spin {
    0%{ -webkit-transform: rotate(0deg); tranform: rotate(0deg);}
  100%{ -webkit-transform: rotate(360deg); tranform: rotate(360deg);}
}


#camera {
  margin: 5px;
  position: absolute;
  background: rgba(42, 42, 42, 0.8);
  border-radius: 4px;
  /* bottom: 30px; */
  top: 100px;
  left: 360px;
  bottom: auto;
  box-shadow: 0 0 4px rgba(0, 0, 0, .3);
}
#camera img{
  max-width: 200px;
  border-radius: 4px;
}

.Browser {
  box-shadow:
    0 1px 4px 0 rgba(#000, .2),
    0 2px 8px 4px rgba(#000, .05);
  border-radius: 5px;
}

.Browser-actions {
  width: auto;
  padding: 8px 10px;
  list-style: none;
  overflow: hidden;
  background: #F2F2F2;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.Browser-actionsItem {
  float: left;
  width: 9px;
  height: 9px;
  margin-right: 5px;
  background: #ddd;
  border-radius: 50%;
}

.Browser-bar {
  background: #ddd;
  padding: 8px 10px;
  position: relative;
}

.Browser-bar:before,
.Browser-bar:after {
  content: "";
  position: absolute;
  top: -24px;
  width: 57px;
  height: 24px;
  background: #ddd;
  border-radius: 8px;
}

.Browser-bar:after {
  left: 110px;
  transform: matrix(1, 0, .45, 1, -32, 7.133);
}

.Browser-bar:before {
  left: 90px;
  transform: matrix(1, 0, -.45, 1, -32, 7.133);
}

.Browser-address {
  height: 16px;
  background: #fff;
  border-radius: 8px;
}

.Browser-media {
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.Browser-media  img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.Browser-media img.no-full {
  max-width: initial;
}

.Section-offset--left {
  transform: translateX(-80px);
}

.Section-offset--left--double {
  transform: translateX(-160px);
}

.Section-offset--right {
  transform: translateX(80px);
}

.Section-offset--right--double {
  transform: translateX(160px);
}
